doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-touch-icon.png?v=lkdKeq9dAe")
    link(rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png?v=lkdKeq9dAe")
    link(rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png?v=lkdKeq9dAe")
    link(rel="manifest" href="images/favicon/site.webmanifest?v=lkdKeq9dAe")
    link(rel="mask-icon" href="images/favicon/safari-pinned-tab.svg?v=lkdKeq9dAe" color="#5bbad5")
    link(rel="shortcut icon" href="images/favicon/favicon.ico?v=lkdKeq9dAe")
    meta(name="msapplication-TileColor" content="#b91d47")
    meta(name="theme-color" content="#ffffff")
  body
    block content
    script(src='/javascripts/bundle.js')
